.img-lead {
  width: 150px;
}

.btn-outline-desert {
  color: #88B14B;
  background-color: #F5EF97;
  background-image: none;
  border-color: #F5EF97; }
  .btn-outline-desert:hover {
    color: #A8A496;
    background-color: transparent;
    border-color: #F5EF97; }
  .btn-outline-desert:focus, .btn-outline-desert.focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.5); }
  .btn-outline-desert.disabled, .btn-outline-desert:disabled {
    color: #F5EF97;
    background-color: transparent; }
  .btn-outline-desert:not(:disabled):not(.disabled):active, .btn-outline-desert:not(:disabled):not(.disabled).active,
  .show > .btn-outline-desert.dropdown-toggle {
    color: #ffffff;
    background-color: #F5EF97;
    border-color: #F5EF97; }
    .btn-outline-desert:not(:disabled):not(.disabled):active:focus, .btn-outline-desert:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-desert.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.5); }

.btn-outline-forest {
  color: #F5EF97;
  background-color: #88B14B;
  background-image: none;
  border-color: #88B14B; }
  .btn-outline-forest:hover {
    color: #88B14B;
    background-color: transparent;
    border-color: #88B14B; }
  .btn-outline-forest:focus, .btn-outline-forest.focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.5); }
  .btn-outline-forest.disabled, .btn-outline-forest:disabled {
    color: #88B14B;
    background-color: transparent; }
  .btn-outline-forest:not(:disabled):not(.disabled):active, .btn-outline-forest:not(:disabled):not(.disabled).active,
  .show > .btn-outline-forest.dropdown-toggle {
    color: #ffffff;
    background-color: #88B14B;
    border-color: #88B14B; }
    .btn-outline-forest:not(:disabled):not(.disabled):active:focus, .btn-outline-forest:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-forest.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.5); }

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }
  .card > hr {
    margin-right: 0;
    margin-left: 0; }
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
  .card:hover {
      opacity: 0.9;
      text-decoration: none;
  }

.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem; }

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }

.card-link + .card-link {
  margin-left: 1.25rem; }

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 0px solid rgba(0, 0, 0, 0.125); }
  .card-header:first-child {
    border-radius: calc(0.25rem - 0px) calc(0.25rem - 0px) 0 0; }
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0; }

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 0px solid rgba(0, 0, 0, 0.125); }
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 0px) calc(0.25rem - 0px); }

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0; }

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem; }

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 0px); }

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 0px);
  border-top-right-radius: calc(0.25rem - 0px); }

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 0px);
  border-bottom-left-radius: calc(0.25rem - 0px); }

.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .card-deck .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-deck {
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px; }
      .card-deck .card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
        -ms-flex-direction: column;
            flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px; } }

.card-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .card-group > .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-group {
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
      .card-group > .card {
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
        margin-bottom: 0; }
        .card-group > .card + .card {
          margin-left: 0;
          border-left: 0; }
        .card-group > .card:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
          .card-group > .card:first-child .card-img-top,
          .card-group > .card:first-child .card-header {
            border-top-right-radius: 0; }
          .card-group > .card:first-child .card-img-bottom,
          .card-group > .card:first-child .card-footer {
            border-bottom-right-radius: 0; }
        .card-group > .card:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
          .card-group > .card:last-child .card-img-top,
          .card-group > .card:last-child .card-header {
            border-top-left-radius: 0; }
          .card-group > .card:last-child .card-img-bottom,
          .card-group > .card:last-child .card-footer {
            border-bottom-left-radius: 0; }
        .card-group > .card:only-child {
          border-radius: 0.25rem; }
          .card-group > .card:only-child .card-img-top,
          .card-group > .card:only-child .card-header {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem; }
          .card-group > .card:only-child .card-img-bottom,
          .card-group > .card:only-child .card-footer {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem; }
        .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
          border-radius: 0; }
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
          .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
            border-radius: 0; } }

.card-columns .card {
  margin-bottom: 0.75rem; }

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem; }
    .card-columns .card {
      display: inline-block;
      width: 100%; } }

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }

.media-body {
  -ms-flex: 1;
      flex: 1; }
.media-body h5 span a {
  color: #868e96;
}
.media-body h5 span a:hover {
  color: #343a40;
}

.scale {
  transform: scale(1,2);
}


/*video background*/
.video-section {
  overflow: hidden;
  position: absolute;
  background-color: #000000;
  z-index: 0;
  width: 100%;
  height: 100vh; }
  .video-section:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.6); }
  .video-section .video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .video-section .video-wrapper .video-container {
      position: relative;
      overflow: hidden;
      height: 56.25vw;
      width: 100vw; }
      .video-section .video-wrapper .video-container .video-source {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    @media (max-aspect-ratio: 16 / 9) {
      .video-section .video-wrapper .video-container {
        height: 100vh;
        width: 177.7777777778vh; } }


.video-section-knoor {
  overflow: hidden;
  position: absolute;
  background-color: #000000;
  z-index: 0;
  width: 100%;
  height: 100vh; }
  .video-section-knoor:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.4); }
  .video-section-knoor .video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .video-section-knoor .video-wrapper .video-container {
      position: relative;
      overflow: hidden;
      height: 56.25vw;
      width: 100vw; }
      .video-section-knoor .video-wrapper .video-container .video-source {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    @media (max-aspect-ratio: 16 / 9) {
      .video-section-knoor .video-wrapper .video-container {
        height: 100vh;
        width: 177.7777777778vh; } }

.video-section-xbc {
  overflow: hidden;
  position: absolute;
  background-color: #000000;
  z-index: 0;
  width: 100%;
  height: 100vh; }
  .video-section-xbc:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.3); }
  .video-section-xbc .video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .video-section-xbc .video-wrapper .video-container {
      position: relative;
      overflow: hidden;
      height: 56.25vw;
      width: 100vw; }
      .video-section-xbc .video-wrapper .video-container .video-source {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    @media (max-aspect-ratio: 16 / 9) {
      .video-section-xbc   .video-wrapper .video-container {
        height: 100vh;
        width: 177.7777777778vh; } }

/* dot circles */
.dot-circle-d5:hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all .25s ease-out; }
.dot-circle-d5:before {
  background: #88B14B44;
  transition: all .25s ease-out;
  border-radius: 0px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  content: "";
  height: 100px;
  position: absolute;
  top: -30px;
  width: 100px; }
.dot-circle-d5:not(.right):before {
  left: -25px; }

.dot-circle-lundy:hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all .25s ease-out; }
.dot-circle-lundy:before {
  background: #A7BED766;
  transition: all .25s ease-out;
  border-radius: 0px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  content: "";
  height: 100px;
  position: absolute;
  top: -30px;
  width: 100px; }
.dot-circle-lundy:not(.right):before {
  left: -25px; }
.dot-circle-lundy.right:before {
  right: -25px; }
.dot-circle-lundy.dot-sm:before {
  height: 70px;
  left: -15px;
  top: -15px;
  width: 70px; }
.dot-circle-lundy.dot-lg:before {
  height: 200px;
  left: -50px;
  top: -60px;
  width: 200px; }

.dot-circle-xbc:hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all .25s ease-out; }
.dot-circle-xbc:before {
  background: #67B14E44;
  transition: all .25s ease-out;
  border-radius: 0px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  content: "";
  height: 100px;
  position: absolute;
  top: -30px;
  width: 100px; }
.dot-circle-xbc:not(.right):before {
  left: -25px; }
.dot-circle-xbc.right:before {
  right: -25px; }
.dot-circle-xbc.dot-sm:before {
  height: 70px;
  left: -15px;
  top: -15px;
  width: 70px; }
.dot-circle-xbc.dot-lg:before {
  height: 200px;
  left: -50px;
  top: -60px;
  width: 200px; }

.dot-circle-raf:hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all .25s ease-out; }
.dot-circle-raf:before {
  background: #F3C5C777;
  transition: all .25s ease-out;
  border-radius: 0px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  content: "";
  height: 100px;
  position: absolute;
  top: -30px;
  width: 100px; }
.dot-circle-raf:not(.right):before {
  left: -25px; }
.dot-circle-raf.right:before {
  right: -25px; }
.dot-circle-raf.dot-sm:before {
  height: 70px;
  left: -15px;
  top: -15px;
  width: 70px; }
.dot-circle-raf.dot-lg:before {
  height: 200px;
  left: -50px;
  top: -60px;
  width: 200px; }

.dot-circle-knoor:hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all .25s ease-out; }
.dot-circle-knoor:before {
  background-image: linear-gradient(to bottom left, #AAAAAA55, #8A6AAA55);
  transition: all .25s ease-out;
  border-radius: 0px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  content: "";
  height: 100px;
  position: absolute;
  top: -30px;
  width: 100px; }
.dot-circle-knoor:not(.right):before {
  left: -25px; }
.dot-circle-knoor.right:before {
  right: -25px; }
.dot-circle-knoor.dot-sm:before {
  height: 70px;
  left: -15px;
  top: -15px;
  width: 70px; }
.dot-circle-knoor.dot-lg:before {
  height: 200px;
  left: -50px;
  top: -60px;
  width: 200px; }



/*footer*/
footer a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

/*scroll to top */

.scroll-top {
  bottom: 20px;
  font-size: 20px;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  line-height: 40px;
  right: -100px;
  color: #ffffff;
  background-color: #88B14B; }
  .scroll-top:hover {
    background-color: #F5EF97;
    transition: all .4s ease-in-out; }
  .scroll-top.active {
    right: 20px; }

.scroll-top-d5 {
  bottom: 20px;
  font-size: 20px;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  line-height: 40px;
  right: -100px;
  color: #ffffff;
  background-color: rgba(191,213,158); }
  .scroll-top-d5:hover {
    background-color: #88B14B;
    transition: all .4s ease-in-out; }
  .scroll-top-d5.active {
    right: 20px; }

.scroll-top-lundy {
  bottom: 20px;
  font-size: 20px;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  line-height: 40px;
  right: -100px;
  color: #ffffff;
  background-color: rgba(207,220,233); }
  .scroll-top-lundy:hover {
    background-color: #A7BED7;
    transition: all .4s ease-in-out; }
  .scroll-top-lundy.active {
    right: 20px; }

.scroll-top-raf {
  bottom: 20px;
  font-size: 20px;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  line-height: 40px;
  right: -100px;
  color: #ffffff;
  background-color: rgba(249,224,225); }
  .scroll-top-raf:hover {
    background-color: #F3C5C7;
    transition: all .4s ease-in-out; }
  .scroll-top-raf.active {
    right: 20px; }

.scroll-top-knoor {
  bottom: 20px;
  font-size: 20px;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  line-height: 40px;
  right: -100px;
  color: #ffffff;
  background-color: #AAAAAA; }
  .scroll-top-knoor:hover {
    background-color: #8A6AAA;
    transition: all .4s ease-in-out; }
  .scroll-top-knoor.active {
    right: 20px; }

.scroll-top-xbc {
  bottom: 20px;
  font-size: 20px;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  line-height: 40px;
  right: -100px;
  color: #ffffff;
  background-color: rgba(173,213,159); }
  .scroll-top-xbc:hover {
    background-color: #67B14E;
    transition: all .4s ease-in-out; }
  .scroll-top-xbc.active {
    right: 20px; }